
.todo_item{
    position: relative;
    padding: 3px 50px;
    margin-bottom: 10px;
}
.todo_item input{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
input[id='checkbox']:checked{
    background-color: green;
}
.todo_item label{
font-size: 18px;
color: white;
}
.todo_item button{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: white;
}
.todo_item button:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1) ;
}
