.header{

    padding: 10px 0;
}
.header h1{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    
}
.filters{
    display: flex;
    justify-content: center;
   
}
.filters li{
    margin: 0 10px;
}
.filters button{
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.selected{
    opacity: 1 !important;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1) ;
}
.invBtn{
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    right: 40px;
    top: 25px;
    font-size: 25px;
}
.rotate{
    animation-duration: 3s;
}
.rotate:hover{
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }

}
