.section{
    height: calc(100% - 99px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section ul{
    
    height: 100%;
    width: 100%;
    padding: 10px 40px;
    overflow-y: scroll;
}
.section ul::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}
.section ul::-webkit-scrollbar-thumb{
background-color: #6383EB;
}
.section ul::-webkit-scrollbar-track{

}
