.form{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.form input{
    border:none;
    border-radius: 5px;
    padding: 15px 25px;
    width: 50%;
    margin-right: 7px;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8) ;
    color: white;
}
.form input::placeholder{
    color: white;
}
.form button{
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8) ;;
    color: white;
    font-size: 17px;
    font-weight: 700;
}