.title{
    font-weight: 900;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
}
.button_box{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255,0.5);
    padding: 70px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 200px;
    width: 90%;
    max-width: 700px;
    overflow-y: scroll;
}
.button_box > .btn{
   margin-bottom: 10px;
   margin: 0 3px 10px;
    height: 60px;
}