.top_area{
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
}
.darkmodeBg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: '';
}
