:root{
    --color-bg:white;
    --color-bg:#fdfffd;
    --color-bg-dark:#dcdddc;
    --color-gray:#dfdfdf;
    --color-text:rgb(52, 51, 63);
    --color-accent: rgb(123, 64, 233);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(90deg, rgba(236,89,89,1) 0%, rgba(138,111,246,1) 50%, rgba(11,178,210,1) 100%);
}
#root{
    width: 100%;
    max-width: 400px;
    height: 550px;
    min-height: 550px;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.8) ;
    overflow: hidden;
    position: relative;

}
button{
    border: none;
}